@page
@model CS392_Demo3.Pages.departmentPages.EditModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>

<h4>Department</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Department.DNumber" />
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Department.DName" class="control-label"></label>
                <input asp-for="Department.DName" class="form-control" aria-required="true"/>
                <span asp-validation-for="Department.DName" class="text-danger"></span>
            </div>
            <div class="form-group">
<span class="text-danger">*</span>
                <label asp-for="Department.MgrSsn" class="control-label"></label>
                <input asp-for="Department.MgrSsn" class="form-control" aria-required="true"/>
                <span asp-validation-for="Department.MgrSsn" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Department.MgrStartDate" class="control-label"></label>
                <input asp-for="Department.MgrStartDate" class="form-control" />
                <span asp-validation-for="Department.MgrStartDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
